<template>
	<a href="#"
	   class="btn btn-xs btn-danger"
	   v-on:click="deleteProduct(id, index)">
	    Delete
	</a>
</template>

<script>
    export default {
    name: 'button-delete-product',

    //Em components sempre utilizar "data: function()"
    data: function() {
      return {
        //Declara o produto que será utilizado no <template>
        product: {
        	id: '', //Nesse caso só possui o id, que é o campo necessário para o DELETE. É inicializado como vazio.
        },
      }
    },

    props: {
        id: { type: Number, required: true},
        index: { type: Number, required: true},
    },

    //Define métodos que o componente usa. No caso o deleteProduct para o botão de deletar produto.
    methods: {
            deleteProduct(id, index) {
                if (confirm("Do you really want to delete it?")) {

                    //'this' não será a instância de Vue se utilziar dentro do axios.get()
                    var app = this;

                    let api_token = document.head.querySelector('meta[name="api-token"]').content;

                    const config = { headers: { 
                        'Content-Type': 'multipart/form-data',
                        'X-Requested-With': 'XMLHttpRequest',
                        'Authorization': 'Bearer ' + api_token,
                        } 
                    };

                    //Requisição DELETE para api/products
                    axios.delete('/api/products/' + id, config)
                        .then(function (response) {

                            //Avisa o componente pai para atualizar a listagem de produtos.
                            app.$nextTick(function () {
                              app.$emit('updatetable', index);
                            });

                            app.$notify({
                              title: 'Product deleted successfuly',
                              text: 'The product was deleted with success.',
                              type: 'success',
                            });
                        })
                        .catch(function (response) {
                            console.log(response);
                        });
                }
            }
        }
    }
</script>