<template>
  <div>
    <div class="form-group form-inline float-right mt--1 d-none d-md-flex">
      <router-link 
        :to="{name: 'createProduct'}" 
        class="btn btn-success">
          New product
      </router-link>
    </div>

    <form v-on:submit.prevent="getResults">
      <div class="row ml-2 mt-1">
        <input placeholder="Search by title or description..." type="text" name="searchterms" v-model="searchterms" class="form-control col-sm-3">
        <button type="submit" class="btn btn-primary ml-2">Search</button>
      </div>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th style="width: 20%">#</th>
          <th style="width: 25%">Title</th>
          <th style="width: 25%">Description</th>
          <th style="width: 10%">Price</th>
          <th style="width: 15%">&nbsp;</th>
        </tr>
      </thead>

      <tbody id="products">
        <p 
          v-if="empty">
            No products found.
        </p>

        <tr 
          v-for="product, index in products.data" 
          :key="product.id">

            <td class="text-left">
                <img 
                  v-bind:src="'/storage/products/thumbnails/' + product.thumbnail" 
                  class="img-fluid" 
                  style="width: 100px; height: auto;">
            </td>

            <td>{{ product.title }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>
              <router-link 
                :to="{name: 'editProduct', params: {id: product.id}}" 
                class="btn btn-xs btn-secondary">
                  Edit
              </router-link>

              <button-delete-product
                v-bind:id="product.id" 
                v-bind:index="index"
                v-on:updatetable="updateTable($event)">   
              </button-delete-product>
            </td>
          </tr>
      </tbody>
    </table>       
    <pagination 
        :data="products"
        @pagination-change-page="getResults">               
    </pagination>
  </div>      
</template>

<script>

  import ButtonDeleteProduct from './ButtonDeleteProduct.vue';

  export default {
    name: 'products-list',  

    //Outros componentes que este componente utiliza.
    components: {
      ButtonDeleteProduct
    },

    //Props serve para passar atributos aos componentes filhos.
    props: ['id', 'index'],

    //Em components sempre utilizar "data: function()"
    data: function() {
      return {
        products: {}, //Declara um array de produtos
        empty : false,
        searchterms : ''
      }
    },

    //Depois que o componente é "montado", retorna a lista de produtos através de uma requisição GET.
    mounted() {
      // Fetch initial results
      this.getResults();
    },

    methods: {
      updateTable: function (index) {
        this.products.data.splice(index, 1);

        //Quantidade de produtos por página.
        var table_rows = this.products.data.length;

        //Se o número de linhas na tabela for zerado, 
        //redireciona para a página anterior da atual.
        if (table_rows == 0) { 
          if (this.products.current_page > 1) {
            this.getResults(this.products.current_page -1);
          } else {
            this.empty = true;
          }
        }
      },

      //Função que faz uma requisição GET para retornar os produtos.
      getResults(page = 1, search = '') {

        if (this.searchterms) {
          search = 'title:'+ this.searchterms + ';description:'+ this.searchterms;
        } 

        let api_token = document.head.querySelector('meta[name="api-token"]').content;

        return axios({
          method: 'get',
          url: '/api/products',
          headers: { 'Authorization': 'Bearer ' + api_token },
          params: {
            page: page,
            search: search
          } 
        })
        .then(response => {
          this.products = response.data;
        })
        .catch(function (response) {
          console.log(response);
          alert("Could not load products");
        });
      }
    } 
  }
</script>