<template>
    <div>
        <div class="pb-2 mb-2 mb-3">
            <div class="form-group form-inline float-right d-none d-md-flex">
                <router-link to="/" class="btn btn-secondary mr-2">Back</router-link>
            </div>
        </div>    

        <form @submit.prevent="saveForm()" enctype = "multipart/form-data">

            <div class="form-row">

                <div class="col-md-3">      
                    <div
                        :class="['form-group', errors.image ? 'has-error' : '']">

                        <img
                            v-bind:src="`/storage/products/thumbnails/${this.thumbnailImg}`"
                            class="img-fluid"
                            style="">

                        <div class="col-sm-12">
                            <input ref="image" type="file" name="image" id="image" class="form-control image-input"/>
                            <span v-if="errors.image" :class="['label text-danger']">{{ errors.image[0] }}</span>  
                        </div>  
                    </div>
                </div>

                <div class="col-md-9">  
                    <div :class="['form-group', errors.title ? 'has-error' : '']">
                        <label for="title" class="col-sm-4 control-label">Title</label>
                         <div class="col-sm-12">
                            <input type="text" v-model="product.title" class="form-control"/>
                            <span v-if="errors.title" :class="['label text-danger']">{{ errors.title[0] }}</span>
                        </div>
                    </div>
                </div>
                
            </div>

            <div :class="['form-group', errors.description ? 'has-error' : '']">
                <label for="description" class="col-sm-4 control-label">Description</label>
                <div class="col-sm-6">
                    <textarea v-model="product.description" class="form-control"/>
                    <span v-if="errors.description" :class="['label text-danger']">{{ errors.description[0] }}</span>
                </div>
            </div>

            <div :class="['form-group', errors.price ? 'has-error' : '']">
                <label for="price" class="col-sm-4 control-label">Price</label>
                <div class="col-sm-6">
                    <money v-model="product.price" v-bind="money" class="form-control" id ="price" name="price"></money> 
                    <span v-if="errors.price" :class="['label text-danger']">{{ errors.price[0] }}</span>
                </div>
            </div>

            <div class="form-group ml-3">
                <button class="btn btn-success">Update</button>
            </div>

        </form>
    </div>
</template>

<script>

  import {Money} from 'v-money'

  export default {
    name: 'product-edit',

    components: {Money},

    data: function () {
      return {
        productId: null,
        product: {
          title: '',
          description: '',
          price: '',
          image: '',
          thumbnail: ''
        },
        errors: [],
        money: {
          decimal: ',',
          thousands: '.',
          prefix: 'R$ ',
          suffix: ' ',
          precision: 2,
          masked: false
        }
      }
    },

    //Escuta quando há uma mudança dos dados, no caso o product.thumbnail.
    //Possui cache, verificar a documentação do Vue.
    computed: {
      thumbnailImg: function () {
        return this.product.thumbnail
    }
  },   

  mounted() {
    let app = this;
    let id = app.$route.params.id;

    app.productId = id;

    axios.get('/api/products/' + id)
    .then(function (response) {
      app.product = response.data;
    })
    .catch(function () {
      alert("Could not load your product")
    });
  },

  methods: {
    saveForm() {
      const app = this;
      var updatedProduct = app.product;

      //Recupera os arquivos do input image (ref="image")
      var files = this.$refs.image.files;

      let data = new FormData();

      if (files[0]) {
        data.append('image', files[0]);
      }

      data.append('title', updatedProduct.title);
      data.append('description', updatedProduct.description);
      data.append('price', updatedProduct.price);
      data.append('_method', 'PATCH'); //Não esquecer dessa linha!

      let api_token = document.head.querySelector('meta[name="api-token"]').content;  

      const config = { headers: { 
        'Content-Type': 'multipart/form-data',
        'X-Requested-With': 'XMLHttpRequest',
        'Authorization': 'Bearer ' + api_token,
        } 
      };

      axios.post('/api/products/' + app.productId, data, config)
        .then(function (response) {

          app.product = response.data.product;

          app.$notify({
            title: 'Product updated successfuly',
            text: 'The product was updated with success.',
            type: 'success',
          });
        })
        .catch(error => {
          this.errors = error.response.data.errors;
        });
      },
    }
  }
</script>

<style scoped>
  img {
      width: 200px; height: auto;
  }
</style>