<template>
  <div>
    <div class="pb-2 mt-4 mb-2border-bottom mb-3">
      <div class="form-group form-inline float-right mt--1 d-none d-md-flex">
        <router-link to="/" class="btn btn-secondary mr-2">Back</router-link>
      </div>
    </div>

    <form v-on:submit.prevent="saveForm();" enctype = "multipart/form-data">

      <div :class="['form-group', errors.image ? 'has-error' : '']">
        <label for="image" class="col-sm-4 control-label">Image</label>
        <div class="col-sm-6">
          <input ref="image" type="file" name="image" id="image" class="form-control image-input"/>
          <span v-if="errors.image" :class="['label text-danger']">{{ errors.image[0] }}</span>
        </div>
      </div>

      <div :class="['form-group', errors.title ? 'has-error' : '']">
        <label for="title" class="col-sm-4 control-label">Title</label>
        <div class="col-sm-6">
          <input type="text" v-model="product.title" class="form-control"/>
          <span v-if="errors.title" :class="['label text-danger']">{{ errors.title[0] }}</span>
        </div>
      </div>

      <div :class="['form-group', errors.description ? 'has-error' : '']">
        <label for="description" class="col-sm-4 control-label">Description</label>
        <div class="col-sm-6">
          <textarea v-model="product.description" class="form-control"/>
          <span v-if="errors.description" :class="['label text-danger']">{{ errors.description[0] }}</span>
        </div>
      </div>

      <div :class="['form-group', errors.price ? 'has-error' : '']">
        <label for="price" class="col-sm-4 control-label">Price</label>
        <div class="col-sm-6">
          <money v-model="product.price" v-bind="money" class="form-control" id ="price" name="price"></money> 
          <span v-if="errors.price" :class="['label text-danger']">{{ errors.price[0] }}</span>
        </div>
      </div>

      <div class="form-group ml-3">
        <button class="btn btn-success">Create</button>
      </div>
    </form>
  </div>
</template>

<script>

  import {Money} from 'v-money'

  export default {
    name: 'product-create',

    components: {Money},

    data: function () {
      return {
        product: {
          title: '',
          description: '',
          price: '',
          image: '',
        },
        errors: [],
        success : false, 
        money: {
          decimal: ',',
          thousands: '.',
          prefix: 'R$ ',
          suffix: ' ',
          precision: 2,
          masked: false
        }
      }
    },
    methods: {
      saveForm() {
        var app = this;
        var newProduct = app.product;

        //Recupera os arquivos do input image (ref="image")
        var files = this.$refs.image.files;

        let data = new FormData();
        data.append('image', files[0]);
        data.append('title', newProduct.title);
        data.append('description', newProduct.description);
        data.append('price', newProduct.price);

        let api_token = document.head.querySelector('meta[name="api-token"]').content;

        const config = { headers: { 
          'Content-Type': 'multipart/form-data',
          'X-Requested-With': 'XMLHttpRequest',
          'Authorization': 'Bearer ' + api_token,
          } 
        };

        axios.post('/api/products', data, config)
        .then(function (response) {
          app.success = true;
          app.$router.push({path: '/'});

          app.$notify({
            title: 'Product added successfuly',
            text: 'The product was added with success.',
            type: 'success',
          });
        })
        .catch(error => {
          this.errors = error.response.data.errors;
          app.success = false;
        });
      },
    }
  }
</script>
